django
pillow
django-allauth
dj-rest-auth 
djangorestframework
django-cors-headers
moviepy 
googletrans 
translate 
py-translate 
pipenv 
install
deep-translator
gunicorn 
python-decouple
dj_database_url
psycopg2-binary
